%html
  %head
    %title= "torb - session registration"

  %body
    %content

    %form{ action: env['REQUEST_URI'], method: 'get' }
      %input{ type: 'submit', value: 'I know what I'm doing, and I know you aren't distributing the content but just redirecting it' }

